{% load static %}

<nav class="navbar is-transparent is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'site-home' %}">
            <img src="{% static 'images/codin-logo-smaller.png' %}" width="112">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="{% url 'site-about' %}" class="navbar-item">
                About
            </a>

            <a href="{% url 'blog-main' %}" class="navbar-item">
                Blog
            </a>

            <a class="navbar-item">
                Our Community
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Materials
                </a>

                <div class="navbar-dropdown">
                    <a href="{% url 'coding-resources' %}" class="navbar-item">
                        Resources
                    </a>
                    <a href="{% url 'coding-tools' %}" class="navbar-item">
                        Tools
                    </a>
                    <a href="{% url 'coding-help' %}" class="navbar-item">
                        Helping Resources
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Events
                    </a>
                    <a class="navbar-item">
                        Online Contests
                    </a>

                    <hr class="navbar-divider">

                    <a class="navbar-item">
                        Contact Us
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-info">
                        Log in
                    </a>
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
